/* app css stylesheet */

html, body{
	height: 100%;
	width: 100%;
	font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important;
}

.header{
	background-color: #3F51B5;
	text-align: center;
	color: #f6f6f6;
	height: 50px;
	text-transform: uppercase;
}

.auth-frame{
	background-color: #ffffff;
    margin-top: 225px;
    margin-left: auto;
    margin-right: auto;
}

.logo img{
	max-height: 200px;
	max-width: 200px;
}

.intro h3{
	color: #795548;
  	font-weight: 500;
  	line-height: 20px;
}

.view-list{
	margin-top: 125px;
}

.sort{
	margin-top: 25px;
}	

.list h5{
	font-style: italic;
	font-weight: 600;
	letter-spacing: 0.05em;
	color: #009688;
}

.row-highlight {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.row-highlight:hover {
	background: rgba(0, 0, 0, 0.1);
}

.details-button{
	background-color: #009688 !important;
}

.details-frame{
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	padding-top: 30px !important;
}

.dataDetailName {
	margin-top: 100px;
}

.details-frame md-input-container label{
	color: #546E7A !important;
	font-weight: 800 !important;
	letter-spacing: 0.04em;
}

.details-frame md-input-container input{
	color: #FF5722 !important;
	letter-spacing: 0.04em;
}

.field-message{
	color: #795548 !important;
	letter-spacing: 0.04em;
	font-style: italic;
	font-weight: 300;
}

@media only screen and (max-width: 960px) {

    .dataDetailName {
     	margin-top: 25px;   
    }

    .details-frame{
    	margin-top: 15px;
    	padding-top: 30px !important;
    }

    .field-message{
    	height: 20px;
    }

    .view-list{
		margin-top: 75px;
	}

	.intro h3{
		font-size: 1em !important;
	}
}
