<div class="sort animated slideInRight" flex="20" flex-gt-sm="10" flex-offset="70" flex-offset-gt-sm="80" layout="column" layout-align="space-around center">
    <md-button ng-click="sort()" class="md-fab md-primary" aria-label="sort">
        <md-icon md-svg-src="img/sort.svg"></md-icon>
    </md-button>
    <p>SORT</p>
</div>
<md-divider></md-divider>
<md-content class="list animated zoomIn" layout="column" flex-gt-sm="70" flex="90" flex-offset-gt-sm="15" flex-offset="5">
    <md-list>
        <md-subheader class="md-no-sticky">CSV Data List</md-subheader>
        <md-list-item ng-repeat="Items in dataList track by $index" class="noright row-highlight" ng-init="sort()">
            <img alt="{{ Items.firstname }}" ng-src="{{ Items.avatar }}" class="md-avatar" flex="5" flex-gt-sm="10" />
            <p flex="40" flex-gt-sm="70" >{{ Items.firstname }} {{ Items.lastname }}</p>
            <md-button class="md-raised md-primary details-button" ui-sref="details({ id: Items.email })" flex="5" flex-gt-sm="10">DETAILS</md-button>
            <md-button class="md-raised md-warn" ng-click="delete($index)" flex="5" flex-gt-sm="10">DELETE</md-button>
        </md-list-item>
    </md-list>
</md-content>
