<div class="dataDetailName animated slideInUp" flex="60" flex-gt-sm="40" flex-offset="20" flex-offset-gt-sm="30" layout="row" layout-align="center center">
    <h4>Details for {{ dataDetail.firstname }} {{ dataDetail.lastname }}</h4>
</div>
<div class="details-frame animated fadeIn" md-whiteframe="{{height}}" flex="90" flex-gt-sm="50" flex-offset="5" flex-offset-gt-sm="25" layout="column" layout-align="space-around center" ng-init="height = 3" ng-mouseenter="height = 6" ng-mouseleave="height = 3" layout-padding>
    <div layout-gt-sm="row" layout-align="space-between center" flex layout="column" layout-margin>
        <md-input-container class="md-block" flex-gt-xs flex="40">
            <label>First Name </label>
            <input ng-model="dataDetail.firstname" ng-if="!isEdit">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs flex="40">
            <label>Last Name </label>
            <input ng-model="dataDetail.lastname">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs flex="40">
            <label>Email </label>
            <input ng-model="dataDetail.email">
        </md-input-container>
    </div>
    <div class="field-message" layout="row" layout-align="center center" flex layout-margin>
        <h4>Click on the fields to edit</h4>
    </div>
</div>
<div class="view-list animated slideInDown" layout="row" flex="50" flex-offset="25" flex-gt-sm="20" flex-offset-gt-sm="40">
    <md-button style="background-color: #01579B !important; color: #F6F6F6 !important" class="md-raised" ui-sref="datalist" flex>Back to Data List</md-button>
</div>